<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.datasharing.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.datasharing.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>com.datasharing.RegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.datasharing.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.datasharing.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.datasharing.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OthergroupServlet</servlet-name>
        <servlet-class>com.datasharing.OthergroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadotherServlet</servlet-name>
        <servlet-class>com.datasharing.DownloadotherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestpageServlet</servlet-name>
        <servlet-class>com.mona.RequestpageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupnameServlet</servlet-name>
        <servlet-class>com.datasharing.GroupnameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovedServlet</servlet-name>
        <servlet-class>com.datasharing.ApprovedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>com.datasharing.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRevocationServlet</servlet-name>
        <servlet-class>com.datasharing.UserRevocationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/RegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OthergroupServlet</servlet-name>
        <url-pattern>/OthergroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadotherServlet</servlet-name>
        <url-pattern>/DownloadotherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestpageServlet</servlet-name>
        <url-pattern>/RequestpageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupnameServlet</servlet-name>
        <url-pattern>/GroupnameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovedServlet</servlet-name>
        <url-pattern>/ApprovedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/UserDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRevocationServlet</servlet-name>
        <url-pattern>/UserRevocationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file> Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
